/*
	Stylesheet for Tigra Calendar v5.0
	Product is Public Domain (Free for any kind of applicaiton, customization and derivative works are allowed) 
	URL: http://www.softcomplex.com/products/tigra_calendar/

	- all image paths are relative to path of stylesheet
	- the styles below can be moved into the document or in existing stylesheet

*/

/* input box in default state */ 
.tcalInput {
	padding-right: 20px;
	cursor: pointer;
	background:url(../images/fond_form.png);
	padding:1px;
	color:#999999;
	font-weight: bold;
	align: center;
	border:1px #909090 solid;
	width:100px;
	height:30px;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
}
/* container of calendar's pop-up */
#tcal {
	display:block;
	
	position: absolute;

	visibility: hidden;
	z-index: 100;

	width: 280;
    height: 330;
	
	background-color: #FFFFFF;
	margin-top: 20px;
	margin-left: 10px;
	padding: 0 0px 0px 0px;
	border: 1px solid silver;

}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 25px;
	height: 30px;
	
	background-repeat: no-repeat;
	cursor: pointer;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 25px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CC9999;
	font-weight: bold;
	white-space: nowrap;
}
#tcalPrevYear { background-image: url('img/prev_year.gif'); }
#tcalPrevMonth { background-image: url('img/prev_mon.gif'); }
#tcalNextMonth { background-image: url('img/next_mon.gif'); }
#tcalNextYear { background-image: url('img/next_year.gif'); }

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#tcalGrid th {
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 3px 0;
	height: 40;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: gray;
	color: #FFFFFF;
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 14%;
	height: 40;
	font-size: 14px;
	cursor: pointer;
	color:#333333;
}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected { background-color: #FFB3BE; }		
