body{
	font-family: 'Verdana';
        font-size: 12px;
	background:url('../img/bg-body.gif');
}
a{ text-decoration: none; }
.container{
	width:90%;
	margin:0 auto;
	padding:25px;
	min-height:400px;
	height:auto;
}

.gridster ul
{
	list-style: none;
}
.gridster li
{
	text-align: center;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:5px;
}
.gridster li span { width:100%; display:block; }
.gridster li span:before{ display: block; height:50px; width:100%; position: absolute; top:35%; left:0; right:0;}
.gridster li span:after{ position: absolute; bottom: 5px; left:0; right:0; }
.gridster li span:hover:after{ text-shadow:0 1px 0 #343434; }

/* ==========================================================================
   Colours
   ========================================================================== */

.fg-blue,       .fg-blue-link a         {color: #2d89ef;}
.fg-blueLight,  .fg-blueLight-link a    {color: #eff4ff;}
.fg-blueDark,   .fg-blueDark-link a     {color: #2b5797;}
.fg-green,      .fg-green-link a        {color: #00a300;}
.fg-greenLight, .fg-greenLight-link a   {color: #99b433;}
.fg-greenDark,  .fg-greenDark-link a    {color: #1e7145;}
.fg-red,        .fg-red-link a          {color: #b91d47;}
.fg-yellow,     .fg-yellow-link a       {color: #ffc40d;}
.fg-orange,     .fg-orange-link a       {color: #e3a21a;}
.fg-orangeDark, .fg-orangeDark-link a   {color: #da532c;}
.fg-pink,       .fg-pink-link a         {color: #9f00a7;}
.fg-pinkDark,   .fg-pinkDark-link a     {color: #7e3878;}
.fg-purple,     .fg-purple-link a       {color: #603cba;}
.fg-darken,     .fg-darken-link a       {color: #1d1d1d;}
.fg-lighten,    .fg-lighten-link a      {color: #d5e7ec;}
.fg-white,      .fg-white-link a        {color: #ffffff;}
.fg-grayDark,   .fg-grayDark-link a     {color: #525252;}

.bg-blue       {background-color: #2d89ef;}
.bg-blueLight  {background-color: #eff4ff;}
.bg-blueDark   {background-color: #2b5797;}
.bg-green      {background-color: #00a300;}
.bg-greenLight {background-color: #99b433;}
.bg-greenDark  {background-color: #1e7145;}
.bg-red        {background-color: #b91d47;}
.bg-yellow     {background-color: #ffc40d;}
.bg-orange     {background-color: #e3a21a;}
.bg-orangeDark {background-color: #da532c;}
.bg-pink       {background-color: #9f00a7;}
.bg-pinkDark   {background-color: #7e3878;}
.bg-purple     {background-color: #603cba;}
.bg-darken     {background-color: #1d1d1d;}
.bg-lighten    {background-color: #d5e7ec;}
.bg-white      {background-color: #ffffff;}
.bg-grayDark   {background-color: #525252;}

/*******************************************************************************
 * Icons
 *******************************************************************************/
 .diver:before{ content:''; background:url('../img/calendar.png') no-repeat center; }
 .sauvegarde:before{ content:''; background:url('../img/twitter.png') no-repeat center; }
 .PowerShell:before{ content:''; background:url('../img/facebook.png') no-repeat center; }
 .about:before{ content:''; background:url('../img/about.png') no-repeat center; }
 .snippets:before{ content:''; background:url('../img/scissors.png') no-repeat center; }
 .resources:before{ content:''; background:url('../img/library.png') no-repeat center; }
 .googleplus:before{ content:''; background:url('../img/google.png') no-repeat center; }
 .contact:before{ content:''; background:url('../img/forward.png') no-repeat center; }
 .articles:before{ content:''; background:url('../img/folder_open.png') no-repeat center; }
 .tutorials:before{ content:''; background:url('../img/tutorials.png') no-repeat center; }
 .pinterest:before{ content:''; background:url('../img/pinterest.png') no-repeat center; }
 .archives:before{ content:''; background:url('../img/calendar.png') no-repeat center; }

 .diver:after{ content:'Diver'; }
 .sauvegarde:after{ content:'Sauvegarde'; }
 .PowerShell:after{ content:'PowerShell'; }
 .about:after{ content:'About'; }
 .snippets:after{ content:'Snippets'; }
 .resources:after{ content:'Resources'; }
 .googleplus:after{ content:'Google Plus'; }
 .contact:after{ content:'Contact'; }
 .articles:after{ content:'Articles'; }
 .tutorials:after{ content:'Tutorials'; }
 .pinterest:after{ content:'Pinterest'; }
 .archives:after{ content:'Archives'; }